<%- include('./partials/header.ejs') %>


<h1> book collection </h1>
  <ul>
    <% codex.forEach(codex => { %>
      <li>
      	<a href="/codex/<%=codex.id%>">
        <%= codex.name %></a>
      </li>
    <% }) %>
  </ul>











<%- include('./partials/footer.ejs') %>